@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: theme("colors.primary");
  --color-secondary: theme("colors.secondary");
  --color-tertiary: theme("colors.tertiary");
  --color-quaternary: theme("colors.quaternary");
}

@layer base {
  html {
    @apply font-dosis tracking-wide text-lg;
  }
  ul {
    @apply list-disc list-inside;
  }
  ol {
    @apply list-decimal list-inside;
  }
  .transition-500 {
    @apply transition duration-500 ease-in-out;
  }

  .curve-divider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .curve-divider svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 90px;
  }

  .curve-divider .shape-fill {
    fill: var(--color-secondary);
  }

  .waves-divider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .waves-divider svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 100px;
    transform: rotateY(180deg);
  }

  .waves-divider .shape-fill {
    fill: var(--color-tertiary);
  }

  .trapezoid {
    width: max-content;
    height: fit-content;
    margin: 15px;
    position: relative;
  }

  .trapezoid::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: lightblue;
    border-radius: 15px;
    transform: perspective(200px) rotateY(-30deg);
  }
}
